.TracksWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 0;
    border: 8px solid purple;
    border-radius: 30px;
    background-color: #F9C80E;
    animation: fadeIn;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Bangers', cursive;
}

.TracksWindow-table {
    overflow-x: hidden;
    overflow-y: auto;
}

.TracksWindow img{
    position: absolute;
    right: 10px;
    top: 10px;
}

.TracksWindow img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.MuiSelect-select.MuiSelect-select {
    font-family: 'Bangers', cursive;
}

.MuiTypography-caption.MuiTypography-root {
    font-family: 'Bangers', cursive;
}