body {
    background-color: rgba(255, 3, 3, 0.81);
    width: 100%;
}
#login, #loggedin {
    background-color: white;
    text-align: center;
    width: 33%;
    height: 20em;
    margin: 0 auto;
    margin-top: 20em;
    font-family: 'Rubik', sans-serif;
    border: 2px solid black;
    text-shadow: 1px 1px 0px rgba(150,8,150,1);
    box-shadow: 11px 10px 0px -4px rgba(150,8,150,1);
    border-radius: 30px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
.Layout {
    top: 0;
}

.Layout-leftDiv {
    width: 230px;
    height: 500px;
    background-color: #1ca1ee;
    position: fixed;
    left: 2em;
    top: 8em;
    bottom: 20em;
    border-radius: 0px 0px 0px 100px;
    box-shadow: 117px 200px 3px -4px rgba(150,8,150,1);
    border: 1px solid gold;
}

.Layout-rightDiv {
    width: 230px;
    height: 500px;
    background-color: #fbf60a;
    right: 10em;
    position: fixed;
    top: 8em;
    bottom: 13em;
    border-radius: 0px 0px 0px 100px;
    box-shadow: 117px 200px 3px -4px rgba(150,8,150,1);
    border: 1px solid blue;
}

.Layout-header {
    display: flex;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: fixed;
    background-color: #cf11d1;
    top: 0px;
    height: 100px;
    width: 100%;
    vertical-align: middle;
    font-weight: 500;
}

.Layout-footer {
    background-color: #17e07d;
    position: fixed;
    bottom: 0px;
    height: 120px;
    width: 100%;
    color: white;
}

.LinkToLogIn {
    background-color: black;
    display: flex;
    margin: 0;
    width: 8em;
    height: 4em;
    top: 25em;
    position: fixed;
    margin-left: 46.5%;
    border: 3px solid black;
    border-radius: 1em;
    align-items: center;
    transition: all .2s ease-in-out;
}

    .LinkToLogIn:hover {
        background-color: white;
        transform: scale(1.1);
    }

.LinkToLogIn-a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
    justify-content: center;
    text-align: center;
}

    .LinkToLogIn-a:hover {
        color: #ffd800;
        text-align: center;
    }

.Layout-messageDiv {
    background: white;
    font-family: 'Rubik', sans-serif;
    height: 170px;
    width: 35%;
    border-radius: 30px;
    top: 150px;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 10px 10px 3px -4px rgba(150,8,150,1);
}

.Layout-messageDiv-p {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    position: fixed;
    margin-top: 2.5em;
    left: 50%;
    transform: translate(-50%, 0);
    letter-spacing: .12em;
    text-shadow: 2px 1px 0px rgba(150,8,150,1);
}

.Layout-footer-p {
    text-align: center;
    position: fixed;
    margin-top: 3em;
    left: 50%;
    transform: translate(-50%, 0);
}